/*** adding the class sf-navbar in addition to sf-menu creates an all-horizontal nav-bar menu ***/
.sf-navbar {
	height:			2.5em;
	padding-bottom:	2.5em;
	position:		relative;
	float:left;
	margin-right:25px;
	margin-bottom:15px;
	margin-left:20px;
	margin-top:15px
}
.sf-navbar li {
	padding:5px 20px 5px 15px;
	margin-left:5px;
	text-align:left;
	position:static;
	height:37px;
	background:url(../images/buttonCenter.png) no-repeat 100% 0;
}
.sf-navbar div.left {
	background:url(../images/buttonLeft.png) repeat-x;
	width:15px;
	height:37px;
	margin-left:-20px;
	margin-top:-5px;
	position:absolute;
}
.sf-navbar div.right {
	background:url(../images/buttonRight.png) repeat-x;
	width:15px;
	height:37px;
	margin-left:20px;
	margin-top:-5px;
	position:absolute;
}
.tagLine {
	color:#ABABAB;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:85%;
	font-weight:normal;
	font-style:italic
}
.sf-navbar a {
	border-top:		none;
}
.sf-navbar li ul {
	width:			58em; /*IE6 soils itself without this*/
	margin-bottom:0px;
	height:25px;
	background:#f7f4ee;
}
/*Safari Hack*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
.sf-navbar li ul {
width:53em
}
}
.sf-navbar li ul a {
	color:#0097D3;
	display:block;
	text-align:left;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:90%;
	font-weight:normal
}
.sf-navbar li li {
	position:		relative;
}
.sf-navbar li li ul {
	width:			13em;
}
.sf-navbar li li li {
	width:			100%;
}
.sf-navbar ul li {
	margin-top:1px;
	background:url(../images/splitNavDivider.png) no-repeat right;
}
.sf-navbar a, .sf-navbar a:visited {
	border:			none;
}
.sf-navbar li.current, .sf-breadcrumb a {
	color:#A7BF65
}
.sf-navbar li:hover, .sf-navbar li.sfHover, .sf-navbar li li.current, .sf-navbar a:focus, .sf-navbar a:hover, .sf-navbar a:active {
	color:#A7BF65
}
.sf-navbar ul li:hover, .sf-navbar ul li.sfHover, ul.sf-navbar ul li:hover li, ul.sf-navbar ul li.sfHover li, .sf-navbar ul a:focus, .sf-navbar ul a:hover, .sf-navbar ul a:active {
	color:#A7BF65
}
ul.sf-navbar li li li:hover, ul.sf-navbar li li li.sfHover, .sf-navbar li li.current li.current, .sf-navbar ul li li a:focus, .sf-navbar ul li li a:hover, .sf-navbar ul li li a:active {
	color:#A7BF65
}
ul.sf-navbar .current ul, ul.sf-navbar ul li:hover ul, ul.sf-navbar ul li.sfHover ul {
	left:			0;
	top:			3.1em; /* match top ul list item height */
}
ul.sf-navbar .current ul ul {
	top: 			-999em;
}
.sf-navbar li li.current > a {
	color:#A7BF65
}
/* apply hovers to modern browsers */
.sf-navbar ul a:focus > .sf-sub-indicator, .sf-navbar ul a:hover > .sf-sub-indicator, .sf-navbar ul a:active > .sf-sub-indicator, .sf-navbar ul li:hover > a > .sf-sub-indicator, .sf-navbar ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px; /* arrow hovers for modern browsers*/
}
.sf-navbar > li > ul {
	padding:0;
}
